body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
:root {
  --background-color: #a5a3a3;
}

.container {
  /* element takes up the remaining space in a flex container */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginForm {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
}
@media screen and (min-width: 768px) {
  #loginForm {
    width: 400px;
    border: 2px solid #ca84c5;
  }
}
@media screen and (min-width: 1024px) {
  #loginForm {
    width: 600px;
    border: 3px solid #c154b9;
  }
}

#loginForm label {
  /* лейбл займає повну ширину щоб інпут був під ним */
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

#loginForm input {
  /* інпут займає всю ширину контейнера */
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loginForm button {
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  background-color: var(--background-color);
  color: #fff;
  font-weight: 600;
}
#loginForm button:hover {
  background-color: var(--background-color);
  transition: background-color 0.2s ease;
}
#loginForm button:disabled {
  background-color: #b77471;
  cursor: not-allowed;
}

#message {
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}

/* Navigation */
.nav {
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}
@media screen and (min-width: 768px) {
  .nav {
    padding: 15px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    padding: 20px 40px;
  }
}
.nav-list {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .nav-list {
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-list {
    gap: 30px;
  }
}

.nav-list-item {
  color: #fff;
}
.nav-list-item:hover {
  cursor: pointer;
  color: #d4a4a4;
  font-size: 18px;
  transition: font-size 0.2s ease;
}

/* MODAL */
.about-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 300px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
