body {
  font-family: Arial, Helvetica, sans-serif;
}
/* стиль для контейнеру форми */
#loginForm {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ece2e2;
}

#loginForm label {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

#loginForm input {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loginForm button {
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #a5a3a3;
  color: #fff;
  font-weight: 600;
}
#loginForm button:hover {
  background-color: #8fa895;
}
#loginForm button:disabled {
  background-color: #b77471;
  cursor: not-allowed;
}

#message {
  text-align: center;
  margin-top: 15px;
}

/* #loginForm {
  max-width: 400px; // обмежуєм ширину форми
  margin: 50px auto; // центруєм форму горизонтально і відступ зверху
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

#loginForm label {
  display: block; // лейбл займає повну ширину щоб інпут був під ним
  margin-bottom: 15px; // відстань між полми
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

#loginForm input {
  width: 100%; // інпут займає всю ширину контейнера
  padding: 8px 10px; 
  margin-top: 5px; // from label
  border: 1px solid #ccc;
  border-radius: 4px;
}


#loginForm button {
  width: 100%; // вся ширина контейнера
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #0056b3;
}


#loginForm input:invalid {
  border-color: red;
}

#loginForm input:valid {
  border-color: green;
}

#message {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
} */

/* button {
  display: inline-block;     // Щоб кнопка поводилась як елемент рядка, але можна задавати ширину
  padding: 8px 16px;          // Внутрішні відступи для зручності кліку
  font-size: 14px;            // Зрозумілий розмір тексту
  font-family: inherit;       // Спадкує шрифт з контейнера
  color: #fff;                // Текст білий
  background-color: #007bff;  // Базовий синій фон
  border: none;               // Без рамки
  border-radius: 4px;         // Легке закруглення кутів
  cursor: pointer;            // Курсор при наведенні
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease; // Плавна зміна кольору при hover
}

button:hover {
  background-color: #0056b3;  
}
button:disabled {
  background-color: #ccc;     // Сіра кнопка, якщо неактивна
  cursor: not-allowed;
} */
